{% extends "bootstrap/base.html" %}

{% block title %}
Update Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">

{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Zing Mind</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
           
            <li><a href="{{url_for('logout') }} ">Log Out</a></li>
           
            
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>
    <div>
           
      <div class="container-fluid" >
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              
              <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
              <li><a href="{{url_for('manageusers')}}"><button name="Submitbutton" type="submit" class="btn btn-info">Manage Users</button></a></li>
              <li><a href="{{url_for('signup')}}"><button name="Submitbutton" type="submit" class="btn btn-info">Click here to add user</button></a></li>
              <!-- <li><a href="{{url_for('index')}}">click here for proceed</a></li> -->
              <form id="form0" name="form0" method="POST"  action="{{url_for('data_validation')}}" >
   
                <a href="{{url_for('data_validation')}}"><button style="margin-left: 20px;margin-top: 10px;" name="Submitbutton" type="submit" value="SingleDataSource" class="btn btn-info">Single Data Source Validation</button></a><br><br>
                <a href="{{url_for('data_validation')}}"><button style="margin-left: 20px" name="Submitbutton" type="submit" value="DoubleDataSource" class="btn btn-info">Double Data Source Validation</button></a>
       
             </form>
              
            </ul>
          
          </div> 
          
        </div>
     <div class="col-md-12 col-sm-offset-3 col-md-5 col-md-offset-2 main">
          <h1 class="page-header">Update Page</h1>
          <div class="container">
            {% for row in userDetails %}
            <form action="/update/{{ row.id }}" method="POST" >
  
              <div class="form-group col-md-4">
                <label class="form-label" for="form1Example1">Email address</label>
                <input type="email" id="email" name="email" class="form-control" value="{{row.email}}"> 
               <br>
                <label class="form-label" for="form1Example1">Username</label>
                <input type="text" id="username"  name="username" class="form-control" value="{{row.username}}"> 
               <br>
                <button type="submit" class="btn btn-primary">Update</button>
               </div>
             </form>
             {% endfor %}
        
        </div>

          

          
            
        </div>
      </div>
    </div>
{% endblock %}




